body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.delete {
  background-color: lightcoral;
}

.edit {
  background-color: lightskyblue;
}

.add-btn {
  height: 50px;
  width: 100px;
  background-color: orange;
}

#eventCard {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 2 rem;
  gap: 2rem;
}

#eventCard h3 {
  margin-bottom: 2rem;
}

#eventCard img {
  height: 400px;
}

#eventCard > div {
  padding: 2 rem;
}

#eventCard:nth-child(even) img {
  order: 2;
}

#button {
  display: inline-block;
  background: rgb(44, 43, 97);
  color: #fff;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

#button:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  #eventCard {
    display: block;
  }
}
